body{
    background-color: aliceblue;
    font-family: Arial, sans-serif;
    margin:8px;
}
.container{
    display:flex;
    border: 2px black;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.right{
  background: peachpuff;
            border: 2px solid #0b2a4a;
            border-radius: 10px;
            box-shadow: 0 6px 15px rgba(0,0,0,0.15);
            padding: 15px;
            width: 320px;
            text-align: center;
            height: 300px;
}
.left{
     background: papayawhip;
            border: 2px solid #0b2a4a;
            border-radius: 10px;
            box-shadow: 0 6px 15px rgba(0,0,0,0.15);
            padding: 15px;
            width: 320px;
            text-align: center;
            height:300px;
}
@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
        align-items: flex-start;
    }
    .right{
        background: bisque;
    }
    .left{
        background: plum;
    }
}