body{
    background-color: antiquewhite;
    font-family: sans-serif;
    margin: 20px;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:2px #0b2a4a;
    flex-wrap: wrap;
}
.Box{
    color: blueviolet;
    text-align: center;
    padding: 15px;
    margin: 20px;
    border:2px solid #2b6cb0;
    background-color: aliceblue;
    width: 220px;
    height: 200px;
}
h1{
    text-align: center;
    color: blue;
}